.donateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px 90px;
  max-width: 375px;
  margin: 0 auto;
  border-radius: 10px;
}

.logoContainer {
  margin-bottom: 8px;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 17px;
}

.mainTitle {
  font-weight: bold;
  color: var(--color-main);
  margin-bottom: 20px;
  font-size: 36px;
}
.supportTitle {
  color: var(--color-main);
  margin-bottom: 17px;
}

.donateSection,
.otherSupportSection,
.joinSection {
  width: 100%;
  border-radius: 8px;
  padding: 10px 8px 12px;
  margin-bottom: 8px;
  border: 1px solid var(--color-main);
  display: flex;
  flex-direction: column;
}
.donateInput {
  margin-top: 5px;
}

.learnMoreButton,
.payButton {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.learnMoreButton:hover {
  transform: translateY(-5px);
}
.payButton:hover {
  transform: translateY(-5px);
}

.supportAnytimeText {
  color: var(--color-main);
  font-size: 16px;
  font-weight: 600;
  margin: 17px 12px;
  text-align: center;
}
.joinTitle {
  color: var(--color-main);
  margin-bottom: 21px;
}

.joinSection {
  text-align: left;
}

.joinSection p {
  font-size: 14px;
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 3px;
  /* height: auto; */
}

.fillFormButton,
.contactUsButton {
  padding: 8px;
  font-size: 12px;
}
