.question_section {
  border: 1px solid var(--color-main);
  border-radius: var(--border-radius-middle);
  padding-inline: 10px;
  padding-block: 5px;
  width: 100%;
}
.question_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  gap: 5px;
}
.question_number {
  color: var(--color-main);
  font-size: 16px;
  line-height: 1.1;
}

.btn {
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  line-height: 1.3;
  font-size: 12px;
  color: #ffffff;
  background-color: var(--color-main);
}
.awaiting_btn {
  background-color: var(--color-orange);
}
.sentBtn {
  pointer-events: none;
}
.actions_btn {
  height: 26px;
  display: flex;
  align-items: center;
  gap: 7px;
}
.actions_btn * {
  color: #ffffff;
}
.question_images {
  display: flex;
  gap: 9px;
  padding-block: 14px;
}
.question_imgBox {
  width: 104px;
  height: 104px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--color-main);
}
.question_details {
  display: flex;
  gap: 7px;
  font-style: italic;
}
.question_details__homeless {
  padding-inline: 16px;
  border-radius: 10px;
  border: 1px solid var(--color-main);
}
.question_text {
  padding-block: 12px;
  font-size: 16px;
  font-style: italic;
}
