.q_confirmationPage {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  max-width: 335px;
  padding: 30px 0;
  height: 100%;
}

.q_sendQuestionPage_header {
  display: flex;
  align-items: center;
  position: relative;
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 21px;
}
.question_box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
