.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
  width: 350px;
  min-height: 200px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close {
  align-self: center;
  padding: 10px 16px;
  width: 160px;
  border: 1px solid var(--color-main);
  border-radius: 60px;
  background-color: #fff;
  cursor: pointer;
}

.close h5 {
  font-family: "Anek Bangla", sans-serif;
  font-size: 14px;
  color: var(--color-text-dark);
}

.modalContent li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
}

.modalContent li p {
  font-size: 20px;
  font-weight: 100;
}