.conteater_settings {
  margin: 0 auto;
  max-width: 375px;
}

.settings_header {
  display: flex;
  justify-content: space-between;
  margin: 50px 20px 34px 20px;
}

.settings_header > h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 110%;
  color: #242424;
}

.notification {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0px 20px;
  border-bottom: 1px solid rgb(225, 223, 223);
  padding-bottom: 18px;
}
/* Контейнер для всего, что связано с выбором языка */
.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 13px 20px 29px 20px;
}
.notification > p,
.language > p {
  font-size: 20px;
  font-weight: 300;
  line-height: 110%;
  margin: 0;
}

/* Контейнер для флагов */
.flagContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 50px;
}

/* Скрытый контейнер для выбранного флага */
.selectedFlag {
  position: absolute;
  top: -10px;
  left: 15px;
  background-color: #2a9d8f;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* Контейнер для флага */
.option {
  background-color: #2a9d8f;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.option:last-child {
  margin-bottom: 8px;
}
.option:first-child {
  margin-top: 8px;
}

/* Стили для выпадающего меню */
.dropdownMenu {
  position: absolute;
  top: -10px;
  left: 0;
  background-color: #ececec;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border: 1px solid rgba(42, 157, 143, 0.36);
  width: 100%;
  transition: all 0.1s ease;
}
